/* universal styles start */
:root {
    --primaryColor: turquoise;
    --secondaryColor: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Copperplate, Arial, sans-serif;
}
/* universal styles end */

/* header styles start */
header {
    display: flex;
    padding: 20px 30px;
    background-color: var(--primaryColor);
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondaryColor);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}
/* header style end */

/* hero style start */
.hero {
    background-image: url("../images/hero.jpeg");
    height: 420px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



.hero-text {
    width: 100%;
    text-align: center;
}

.hero-text h2 {
    font-size: 48px;
    color: turquoise;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}
/* hero style end */


.section-title {
    color: turquoise;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: center;
}
/* consolidate later */
.about-me {
    background-color: var(--secondaryColor);
}

.about-me p {
    color: var(--primaryColor);
}

.my-work {
    background-color: var(--secondaryColor);
}

.contact-me {
    background-color: var(--secondaryColor);
}

.contact-me .flex-item {
    width: 100%;
}

.contact-me .flex-item h3 {
    padding-left: 25px;
}

.contact-me .flex-item a {
    padding-left: 25px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item {
    padding: 20px 10px;
    display: flex;
}

.flex-container h2 {
    /* justify-content: right; */
}

.flex-container img {
    
}

.flex-container p {
    max-width: 250px;
}



.my-work-container {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery {
    padding: 20px 10px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

.image-gallery h2 {
    text-align: center;
    color: var(--primaryColor);
    text-decoration: none;
}

.image-gallery a {
    text-decoration: none;
}

.image-gallery img {
    border: 3px solid #C63C25;
    border-radius: 25px;
    width: 100%;
}

.thumbnail {
    
}


/* contact me style start*/

.contact-me {
    display: flex;
    flex-wrap: wrap;
}

.contact-me a {
    text-decoration: none;
    color: #C63C25;
    font-size: 24px;
}

.contact-me h3 {
    font-size: 24px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 875px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        display: block;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: block;
        text-align: center;
    }

    .section-title {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    /* section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    } */
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    /* .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .trainer {
        flex: 0 100%;
      }
    
      .contact-info {
        text-align: center;
      }
    
      .contact-info > * {
        flex: 0 100%;
      }

      .contact-form {
          order: 3;
      } */
  }